table#Lihtne, td{
    /*html failis id=Lihtne*/
    width: 50%;
    border: 1px solid black;
    text-align: center; /*teksti joondamine keskele*/
    paddiing: 10px; /*vahetekstist ääriseni*/
    /*border-collapse: collapse;*/
}
table#keeruline1, table#keeruline2, table#keeruline3, td {

    width: 50%;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    /*border-collapse: collapse;*/
    background-color: cornflowerblue
}
    table#iseseisevtöö, td {
    /*html failis id=Lihtne*/
    width: 50%;
    border: 1px solid black;
    text-align: center; /*teksti joondamine keskele*/
    paddiing: 10px; /*vahetekstist ääriseni*/
    /*border-collapse: collapse;*/
}
table#iseseisevtöö2, td {
    /*html failis id=Lihtne*/
    width: 50%;
    border: 1px solid black;
    text-align: center; /*teksti joondamine keskele*/
    paddiing: 5px; /*vahetekstist ääriseni*/
    /*border-collapse: collapse;*/
}
table#iseseisevtöö3, td {
    /*html failis id=Lihtne*/
    width: 50%;
    border: 1px solid black;
    text-align: center; /*teksti joondamine keskele*/
    paddiing: 5px; /*vahetekstist ääriseni*/
    /*border-collapse: collapse;*/
}
#uus{
    width: 50%;
    height: 200px;
}
#uus tr:nth-child(1) td:nth-child(1){
    background-color: red;
    width: 25px;
}
    #uus tr:nth-child(2) td:nth-child(2){
        background-color: deepskyblue;
        width: 25px;
}
