body{
    font-family: Verdana, serif; /*fondi tüüp*/
    background-color: blueviolet; /*taust*/
}
input[type=text]{
    width: 25%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid darkmagenta;
    border-radius: 10px;
    border-bottom: 3px solid blueviolet;
    background-color: lightgray;
    color: purple; /*tekstivarv*/
}
input[type=radio]:focus{
    padding: 10px;
    background-color: darkmagenta;
    box-sizing: border-box;
    font-size: 15px;
}
select{
    width: 10%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid darkmagenta;
    border-radius: 10px;
    border-bottom: 3px solid blueviolet;
    background-color: lightgray;
    color: purple; /*tekstivarv*/
    cursor: pointer;
}
input[type=reset],input[type=button]{
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid darkmagenta;
    border-radius: 10px;
    border-bottom: 3px solid blueviolet;
    background-color: lightgray;
    color: purple; /*tekstivarv*/
}
table{
    width: 60%;
    padding: 10px; /*vahe tekstist ääriseni*/
    border-collapse: collapse;
    border: 1px solid darkmagenta;
    margin: 5px; /*vahelehest tabelini*/
}
td{
    padding: 10px;
    text-align: center;
}
input[type=checkbox] + label{
    display: inline-block;
    width: 60%;
    padding: 10px;
    padding-left: 40px ;
    cursor: pointer;
    border: 1px solid purple;
    height: 32px;
    padding-left: 35px;
}
input[type=radio] + label{
    display: inline-block;
    width: 60%;
    padding: 10px;
    padding-left: 40px ;
    cursor: pointer;
    border: 1px solid purple;
    height: 32px;
    padding-left: 35px;
}
    h1 {
        text-align: left;
        margin-left: 325px;
    }
